<hello name="{{ name }}"></hello>
<div class="container" #canvasContainer>
  <p z-draggable>
    Start editing to see some magic happen :)
  </p>
</div>

<!-- <div class="sjx-wrapper"><div class="sjx-controls" style="top: auto; left: auto; width: 200px; height: 214px"><div class="sjx-normal"></div><div class="sjx-hdl sjx-hdl-t sjx-hdl-l sjx-hdl-tl"></div><div class="sjx-hdl sjx-hdl-t sjx-hdl-r sjx-hdl-tr"></div><div class="sjx-hdl sjx-hdl-b sjx-hdl-r sjx-hdl-br"></div><div class="sjx-hdl sjx-hdl-b sjx-hdl-l sjx-hdl-bl"></div><div class="sjx-hdl sjx-hdl-t sjx-hdl-c sjx-hdl-tc"></div><div class="sjx-hdl sjx-hdl-b sjx-hdl-c sjx-hdl-bc"></div><div class="sjx-hdl sjx-hdl-m sjx-hdl-l sjx-hdl-ml"></div><div class="sjx-hdl sjx-hdl-m sjx-hdl-r sjx-hdl-mr"></div><div class="sjx-hdl sjx-hdl-m sjx-rotator"></div></div></div> -->